
.nav-pills {
	padding-right: 0;
/*	border-right: 1px solid #43beaf;
	margin-right: -1px;*/
}
.tab-content {
	border-left: 1px solid #43beaf;
	background-color: #E4F9F5;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	color: #fff;
	background-color: #43beaf;
	border-radius: 0;
}
.nav-tabs > li > a {
	color: #777;
}
.nav-tabs > li.active > a {
  color: #43beaf;
}

.has-error .form-control {
  border-color: #f00
}

.well {
	margin-bottom: 0;
}


.panel-group .panel-body .btn,
.panel-group .panel-body .btn:hover,
.btn {
	border-color: #43beaf;
	background-color: #fff;
	color: #43beaf;
}

.panel-collapse.collapse.in ~ .panel-title {
	color: #43beaf
}

.control-label {
	float: left;
	clear: both;
}

/*.form-wrapper-footer {
	background-color: #43beaf;
}
*/
.form-wrapper-footer .btn {
	margin: 10px 15px 10px 0;
}

.well .well {
	padding-left: 10px;	
}