
.nav-pills {
	padding-right: 0;
	border-right: 1px solid $fx-cool-blue;
	margin-right: -1px;
}
.tab-content {
	border-left: 1px solid $fx-cool-blue;
	background-color: $custom-color1;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a.saved {	
	color: #fff;
	background-color: $fx-cool-blue;
	border-radius: 0;
}

.nav-tabs > li > a {
	color: #777;	
}
.nav-tabs > li.active > a {
	color: $fx-cool-blue;
}

.nav-pills > li > a.saved {
	background-color: $custom-color1;
}
.nav-pills > li > a .fa-check {
	visibility: hidden;
}
.nav-pills > li > a.saved .fa-check {
	visibility: visible;
	font-size: large;
	color: $fx-cool-blue;
}
.nav-pills > li.active > a.saved .fa-check {
	color: #fff
}

.has-error .form-control {
  border-color: #f00
}

.well {
	margin-bottom: 0;
}


.panel-group .panel-body .btn,
.panel-group .panel-body .btn:hover,
.btn {
	border-color: $fx-cool-blue;
	background-color: #fff;
	color: $fx-cool-blue;
}

.panel-collapse.collapse.in ~ .panel-title {
	color: $fx-cool-blue
}

.control-label {
	float: left;
	clear: both;
}

/*.form-wrapper-footer {
	background-color: $fx-cool-blue;
}
*/
.form-wrapper-footer .btn {
	margin: 10px 15px 10px 0;
}

.well .well {
	padding-left: 10px;	
}

#sectionstorage-loader {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	padding: 2px 10px;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 2px #ddd;
}

#public-quest {
	padding: 20px;
	border-top: 1px solid #fff;
	background-color: $custom-color1
}

.fx-pills{
  .checkbox{
	display: block !important;
  }

}

/* JSON-EDITOR CUSTOM */

.fx-jsonform .checkbox {
	clear: both;
}
