/* FMD - Home Style */

.fmd-home-bg{
  height: 300px;
  background-image: url('../images/bg-home.jpg');
  background-size: cover;

}


.fmd-home-news-holder{
  width: 30%;
  position:relative;
  top: 25%;
  left: 15px;

  .fmd-home-news-title{
    margin: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: $fx-cool-blue;
  }

  p{
    background-color: white;
    padding: 10px;
  }
  
}

/* ////////////////// Home Media Queries */

@media (max-width: 990px) {



}





